.board_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.board {
    display: grid;
    border: 1px solid red;
    grid-template-columns: repeat(3, 1fr);
}

h1, h2 {
    text-align: center;
}